
:root {
    --cegep-color:#0d3d9a;
    --base-color:  black;
    --hover-color: rgb(218, 26, 50);
  }


  @media only screen and (min-width: 1100px) {
    .horizontal {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 2%;
        border: 5px solid var(--hover-color);
        font-size: 25px;
        cursor: pointer;
        padding: 5%;
        text-align: center;
      }
    
    
      .horizontal > .text {
        position: relative;
        color: transparent;
        background-image: linear-gradient(90deg, var(--hover-color) 0%, var(--hover-color) 50%, var(--hover-color) 50%, var(--hover-color) 100%);
        background-repeat: repeat;
        background-size: 200%;
        background-position: 100% 0;
        -webkit-background-clip: text;
        background-clip: text;
        transition: background-position 300ms;
      }
      .horizontal::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--hover-color);
        color: white;
        transform-origin: 100% 0;
        transform: scale3d(0, 1, 1);
        transition: transform 300ms;
      }
      .horizontal:hover .text {
        background-position: 0 0;
        color: white;
      }
      .horizontal:hover::before {
        transform-origin: 0 0;
        transform: scale3d(1, 1, 1);
      }
    }
      @media only screen and (max-width: 1100px) {
        .horizontal {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 60%;
            height: 30%;
            margin: 2%;
            border: 3px solid var(--hover-color);
            font-size: 15px;
            cursor: pointer;
            padding: 5%;
            text-align: center;
          }
        
        
          .horizontal > .text {
            position: relative;
            color: transparent;
            background-image: linear-gradient(90deg, var(--hover-color) 0%, var(--hover-color) 50%, var(--hover-color) 50%, var(--hover-color) 100%);
            background-repeat: repeat;
            background-size: 200%;
            background-position: 100% 0;
            -webkit-background-clip: text;
            background-clip: text;
            transition: background-position 300ms;
          }
          .horizontal::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--hover-color);
            color: white;
            transform-origin: 100% 0;
            transform: scale3d(0, 1, 1);
            transition: transform 300ms;
          }
          .horizontal:hover .text {
            background-position: 0 0;
            color: white;
          }
          .horizontal:hover::before {
            transform-origin: 0 0;
            transform: scale3d(1, 1, 1);
          }}


          * {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
          
          
          .containerLink {
            width: 80%;
            min-height: 100vh;
            display: flex;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
          }
          
          .center {
            align-items: center;
            justify-content: center;
          }
          
          .card {
            background-color: white;
            width: 250px;
            min-height: 404.5px;
            display: flex;
            flex-direction: column;
            padding: 20px;
            margin: 5px;
            box-shadow: -20px -20px 0px 0px rgb(218, 26, 50);
            border-radius: 10px;
            -webkit-animation-name: shadow-show;
            /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 1.5s;
            /* Safari 4.0 - 8.0 */
            animation-name: shadow-show;
            animation-duration: 1.5s;
            transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
            /* custom */
          }
          .card h1, .card h2, .card h3, .card h4, .card h5 {
            margin: 0px;
            padding: 0px 0px 15px 0px;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 30px;
            color: #282828;
          }
          .card hr {
            display: block;
            border: none;
            height: 3px;
            background-color: rgb(218, 26, 50);
            margin: 0px;
            -webkit-animation-name: line-show;
            /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 0.3s;
            /* Safari 4.0 - 8.0 */
            animation-name: line-show;
            animation-duration: 0.3s;
            transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
            /* custom */
          }
          .card p {
            margin: 15px 0px 0px 0px;
            font-family: "Noto Sans KR", sans-serif;
            font-weight: 100;
            letter-spacing: -0.25px;
            line-height: 1.25;
            font-size: 16px;
            word-break: break-all;
            word-wrap: pre-wrap;
            color: #282828;
            -webkit-animation-name: p-show;
            /* Safari 4.0 - 8.0 */
            -webkit-animation-duration: 1.5s;
            /* Safari 4.0 - 8.0 */
            animation-name: p-show;
            animation-duration: 1.5s;
          }
          .card #btnLien {
            border: none;
            background-color: rgb(218, 26, 50);
            width: 50%;
            margin: 10px auto;
            padding: 10px 30px;
            color: white;
            font-family: "Noto Sans KR", sans-serif;
            text-transform: uppercase;
          }
          
          /* Safari 4.0 - 8.0 */
          @-webkit-keyframes line-show {
            from {
              margin: 0px 100px;
            }
            to {
              margin: 0px;
            }
          }
          /* Standard syntax */
          @keyframes line-show {
            from {
              margin: 0px 100px;
            }
            to {
              margin: 0px;
            }
          }
          /* Safari 4.0 - 8.0 */
          @-webkit-keyframes p-show {
            from {
              color: white;
            }
            to {
              color: #282828;
            }
          }
          /* Standard syntax */
          @keyframes p-show {
            from {
              color: white;
            }
            to {
              color: #282828;
            }
          }
          /* Safari 4.0 - 8.0 */
          @-webkit-keyframes shadow-show {
            from {
              box-shadow: 0px 0px 0px 0px #e0e0e0;
            }
            to {
              box-shadow: -20px -20px 0px 0px rgb(218, 26, 50);
            }
          }
          /* Standard syntax */
          @keyframes shadow-show {
            from {
              box-shadow: 0px 0px 0px 0px #e0e0e0;
            }
            to {
              box-shadow: -20px -20px 0px 0px rgb(218, 26, 50);
            }
          }