.container-actu{
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 20%;
    border: thin solid black !important;
}

.container_pic{
    display: flex;
    flex-direction: column;
}

#texte{
    vertical-align: top;
}

#test{
    width: 50%;
}