@import "../../CSS/Teacher.css"; 
@import "../../CSS/Programme.css"; 

.teacherAdminCard{
    position: relative;
    width: 80%;
    height: 100%;
    border: 1px solid rgb(134, 134, 134);
    background-color: white;
    z-index: 20;
    margin: 10%;
}

.closeIcon{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.centerItemPlz{
	display:flex;
	align-self: center;
	justify-self: center;
text-align: center;
}